# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Patchwork and intermadiates
*.rej
*.orig
*.hevc
*.yuv
*.y4m
*.vpy

# Build directory
build/

*.swp
.DS_Store

# Idea and vscode
/.vscode/settings.json
/.idea/*
